body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.verify {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}